/* Main styles */
main {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 1fr;
  /* padding: 0 2rem; */
}
img {
  max-width: 100vw;
}
body {
  max-width: 1440px;
  margin: auto;
}
