@import "~react-image-gallery/styles/css/image-gallery.css";
.image-gallery-bullets .image-gallery-bullets-container {
  display: flex;
  justify-content: center;
}
.image-gallery-bullets .image-gallery-bullet {
  border: 1px solid #5f393f;
  border-radius: 50px;
  box-shadow: none;
  cursor: pointer;
  height: 4px;
  margin: 2px;
  padding: 0;
  transition: all 1s ease;
  width: 18px;
}
.image-gallery-bullets .image-gallery-bullet.active {
  background: #5f393f;
  outline: none;
  border: none;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: 500px;
  height: 500px;
}
.image-gallery-slide .image-gallery-image {
  object-fit: cover;
  object-position: center 25%;
}

.image-gallery-icon {
  color: #5f393f52;
  filter: none;
  transition: all 0.5s ease;
}
.image-gallery-icon:hover {
  color: #5f393f;
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-icon:hover .image-gallery-svg {
  transform: scale(1);
}
.image-gallery-right-nav .image-gallery-svg,
.image-gallery-left-nav .image-gallery-svg {
  height: 100px;
  width: 50px;
}
