.occasion-middle-container {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 30px;
}
.p-middle {
  margin: 30px 10px 30px;
  align-self: center;
}

@media screen and (min-width: 480px) {
}
@media screen and (min-width: 768px) {
  .occasion-middle-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .occasion-middle-img {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
}
@media screen and (min-width: 1200px) {
}